<html>{garbageTemplateVar_main}
	<head>
		<title>{title}</title>
	</head>
<body>
	{infobar}
	{menubar}
---+++ CONTENT STARTS HERE +++---{content}---+++ CONTENT ENDS HERE +++---
	{footer}
</body>
</html>