php_value include_path ".:./lib:../lib/:../../lib"
php_value output_handler ob_gzhandler
DirectoryIndex content content.php index.php  index.html

<files content>
        ForceType application/x-httpd-php
</files>
<files projects>
        ForceType application/x-httpd-php
</files>

RedirectMatch ^/index(.*)		/content/index.php
RedirectMatch ^/svn(.*)			/content/index.php
