<phpunit>
	<testsuites>
		<testsuite name="GenericPage">
			<file>tests/testOfCSContent.php</file>
		</testsuite>
		<testsuite name="FileSystem">
			<file>tests/testOfCSFileSystem.php</file>
		</testsuite>
		<testsuite name="basics">
			<file>tests/testOfCSGlobalFunctions.php</file>
		</testsuite>
	</testsuites>
</phpunit>
