
	<!-- BEGIN blockRow1 -->This is a TEST<!-- comment --><!-- END blockRow1 -->
	<!-- BEGIN blockRow2 -->This
	is second blockRow<!-- END blockRow2 -->
<!-- BEGIN blockRow{blockRowTestVal} --> Some data In here...
	<!-- END blockRow3 -->
	
	<!-- BEGIN blockRow4 --><!-- END blockRow4 -->{invisibleTemplateVar}
