<HTML>
<HEAD>
	<title>CS - Database Error</title>
</HEAD>

<body bgcolor="white" text="#666666" link="#006666" vlink="#006666" alink="#006666">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><!-- This row should span across the page. -->
	<td align="center">
	<font face="Georgia, Times New Roman, Times, serif">
	<table border=0 cellpadding=3 cellspacing=0>
	<TR>
		<td>Crazed</td>
		<td><img border=0 src="/images/dev-logo.gif"></td>
		<td>Sanity</td>
	</TR>
	<TR>
		<td colspan="3" align="center">Dot Com</td>
	</TR>
	</table>
	</font>
	</td>
</tr>
</table>

<hr>

<!-- BEGIN excuse -->
<p align="center">If you're seeing this, that means something pretty bad is happening.<BR>
Either the database went down, or bigger issues have arisen.<BR>
Check back in awhile.</p>
<!-- END excuse -->


      <hr>
<center>
<font size="1">
      <a href="http://www.buzzkill.org/"><img src="/images/Bk3dtext.jpg" width="474" height="40" border="0"></a><BR>
All content is copyright CrazedSanity.com, 1998-2004. <br>
  CrazedSanity.com is a division of 
<a href="http://www.buzzkill.org/">BuzzKill  Productions Unlimited &reg;</a>. All rights reserved. <br>
  For questions or to report a problem, contact 
<a href="?emailLink=spam" onClick="invalidEmailLink('webmaster')">webmaster at crazedsanity dot com</a>.</font>
</center>
</body>

</HTML>
